<!DOCTYPE html> 
<html lang="en" ng-app="taskManager">
    <head>
        <title>AngularJS Test Project</title>
        <meta charset="utf-8" />
        
        <base href="/" />
        
        <link rel="stylesheet" href="content/css/lib/jquery-ui.min.css">
        <link rel="stylesheet" href="content/css/variables.css">
        <link rel="stylesheet" href="content/css/main.css">
        <link rel="stylesheet" href="content/css/module.css">
        <link rel="stylesheet" href="content/css/utils.css">
        
        <meta name="author" content="Propria mea Persoana">
        <meta name="description" content="este doar un test pentru AngularJS">
                
    </head>
    
    <body>
        
        <div id="wrap">
            <!--    START left side nav   -->
            <div class="navigation" data-ng-controller='setActiveMenu as sam' >
                <nav class="nav levelOne darkColoredNav">
                    <ul class='vertical' role="navigation">
                        <li data-ng-repeat='mainmenuItem in menuItem.mainMenuData'><a data-ui-sref="{{ mainmenuItem.itemUrl }}" data-ui-sref-active='active' data-ng-click="hasSubmenuItem = !hasSubmenuItem"><span class='icon addIcon' data-ng-class="{{ mainmenuItem.itemIcon }}"></span>{{ mainmenuItem.itemText }}</a></li>                    
                    </ul>
                </nav>
<!--                
                subnavigation item
                <nav class="submenuContainer subnav lightColoredNav levelOne--submenu" data-ng-show="hasSubmenuItem">
                    <ul class="vertical" role="navigation">
                        <li data-ng-repeat="submenutItem in menuItem.subMenuData"><a data-ui-sref="{{ submenutItem.itemUrl }}" data-ui-sref-active='active'>{{ submenutItem.itemText }}</a></li>
                    </ul>
                </nav>-->
            </div>
            <!--    END left side nav   -->
            
            <!--    START main content   -->
            <div class="content">
                <!--container for angular partial views-->
                <div data-ui-view class='mainContentContainer'></div>
                
            </div>
            <!--    END left side nav   -->
        </div>  
        
        <script type="text/javascript" src="scripts/lib/angular.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-route.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-ui-router.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-animate.min.js"></script>
        
        <script type="text/javascript" src="app/main.js"></script>
        <script type="text/javascript" src="app/data.js"></script>
        <script type="text/javascript" src="app/utils.js"></script>
        <script type="text/javascript" src="app/mainNav.js"></script>

    </body>
</html>