/******************/
/*** NAVIGATION ***/
/******************/

/*  general settings   */
nav {
    width: 100%;   
}
nav ul{
    list-style: none;
    display: flex;
    flex-flow: column wrap;
}
nav a{
    width: 100%;   
    text-decoration: none;
    border-bottom: 0;
    position: relative;
}
.contentContainer  {
    width: 100%;
}
/*  vertical nav   */
nav .vertical {
    flex: 1 100%;
}
nav .vertical li {
    width: 100%;
    display: flex;
}

/*   dark color bg navigation   */
.darkColoredNav a{
    color: var(--dark-bg-font-color);
    border-bottom: 1px solid var(--dark-bg-border-color);
    border-top: 1px solid var(--dark-bg-border-color);
}
.darkColoredNav a.active{
    background: var(--light-bg-color);
    color: var(--light-bg-font-color_darker);
}
.lightColoredNav a{
    color: var(--light-bg-font-color);
    border-bottom: 1px solid var(--light-bg-border-color_darker);
    border-top: 1px solid var(--light-bg-border-color_darker);
}
.lightColoredNav .active, .lightColoredNav a:hover{
    color: var(--light-bg-font-color_darker);
}
.lightColoredNav .active:after{
    border: 1px solid var(--light-bg-border-color_darker);
    background: var(--light-bg-color);
    transform: rotate(45deg);
    z-index: -1;
}
/*   main navigation   */
.levelOne li {
    padding: 15px auto;
    margin: 5px 0;
}
.levelOne a{
    padding: 2rem 1rem;
    font-size: 1.3rem;
}
/* main navigation -- submenu */
.levelOne--submenu li {
    padding: 13px 0;
}
.levelOne--submenu a{
    font-size: 1.2rem;
    padding: 2rem 1rem;
}
.levelOne--submenu .active:after{
    width: 51px;
    height: 51px;
    top: 9px;
    right: -25px;
}
.centered {
    height: 100vh;
    align-items: center;
    display: flex;
    width: 100%;
}

/***************/
/*** CONTENT ***/
/***************/

/*** horizontal center any direct child of parent ***/
.centered > * {
    margin: 0 auto;
}
/***    2 column content    ***/
.splitLayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.splitLayout > *{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
    padding: 1em 0 0 1em
}

/*************/
/*** FORMS ***/
/*************/
input, textarea, select {
    padding: 1rem .3rem;
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--light-bg-border-color_darker);
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}